/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset end :) */

* {
  padding: 0;
  margin: 0;
  font-weight: unset;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.loader {
  display: flex;
  flex-direction: column;
  
  z-index: 20;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  font-family: 'Unica One';
  font-size: 1rem;
  color: #F0553F;
  margin: auto;
  animation: loadIn 4s forwards;
} 

@keyframes loadIn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.intro {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  color: white;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 98vh;
  visibility: hidden;
}

.intro svg {
  background-color: white;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 9rem;
  background-color: #00ADBB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 5rem;
  z-index: 2;
}

.navbar img {
  max-width: 100%;
  min-width: 33%;
}


main, .section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

#motto {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 4rem 0 4rem;
  background-color: #00ADBB;
  width: 100vw;
}

.motto-typo {
  max-width: 90vw;
  padding-bottom: 2rem;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
  width: 100vw;
  background-color: #F0553F;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#about h1 {
  max-width: 80vw;
  font-family: 'Unica One';
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 3rem;
}

#about p {
  max-width: 66%;
  line-height: 1.5;
  word-spacing: 0.15rem;
}

#about .text-container p {
  width: 100%;
  margin: 0 auto;
}

#about p:nth-child(2) {
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 300;
  text-align: right;
  padding-right: 2rem;
}

#about span#big {
  margin: auto;
  line-height: 3rem;
  font-family: 'Unica One';
  font-weight: 700;
  font-size: 3rem;
  text-align: right;
  word-spacing: -0.25rem;
}

#about span#at {
  font-size: 2rem;
};

div#about_head {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100vw;
  overflow: hidden;
}

#about_head img {
  width: 100%;
  bottom: 0;
}

#logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  z-index: 3;
  margin-top: -20%;
}

#logos img {
  width: 100%;
}

#works {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  z-index: 2;
  margin-top: -1%;
 
}

#works h1 {
  margin: 0 auto;
  max-width: 80vw;
  padding-top: 4rem;
  font-family: 'Unica One';
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.work-album {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          align-self: center;

}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: .10rem;
  padding-right: .10rem;
  padding-bottom: .2rem;
  width: 50%;
  height: auto;
}

.work-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-container #contact-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #F0553F;
  color: #FFFFFF;
}

.work-container #contact-div #contact {
  margin-top: 4rem;
}

footer {
  width: 100%;
  padding: 2rem;
  min-height: 9rem;
  max-height: 12rem;
  background-color: #00ADBB;
  z-index:10;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
  font-size: 2rem;
  justify-content: center;
  
}

.footer h2  {
  font-family: "Unica One";
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}


h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

p {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .header {
    max-height: 12rem;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .footer h2  {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }


  .work-container #contact-div {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #about p:nth-child(2) {
    padding-right: 1rem;
  }
  
  #about span#big {
    font-size: 2.5rem;
    
  }
  
  #about span#at {
    font-size: 1.5rem;
  };



}
